h1 {
    font-size: 44px;
  }
  
  .products-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .product {
  }
  
  .product-image {
    width: 100%;
  }
  
  .product-title {
  }
  
  .product-price {
  }
  
  .product-stock {
  }
  
  .product-actions {
  }
  
  .product-select-amount {
  }  